.middle-bar {
    width: 100%;
    min-height: calc(100vh - 60px);
}

.RightBar {
    display: flex;
    justify-content: space-between;
    
}

@media (max-width: 1200px) {
    .middle-bar {
        width: 100%;
    }
    .view-profile {
        display: none;
    }
}