.Table h2 {
    color: var(--brown);
    font-weight: 300;
}

.Table {
    padding: 20px 25px;
}

.table-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

table td {
    font-weight: 100;
    letter-spacing: 1.1px;
}

div.tables {
    width: 100%;
    overflow-x: scroll;
}

th, td {
    padding: 3px 10px;
    text-align: left;
}

th {
    /* font-weight: 300; */
    letter-spacing: 1px;
    color: #6e6c6c;
    line-break: unset;
}

table tr {
    border-bottom: thin solid #535353;
    cursor:pointer;
}

table td, table th {
    white-space: nowrap;
    padding: 17px 15px;

}

td a {
    background-color: #FF7051;
    padding: 5px;
}

table {
    border-collapse: collapse;
}