:root {
  --black: #1e1e1e
}

.loader>div>svg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 93;
}

.App h1 {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  z-index: 484;
  font-family: Brown;
  font-weight: 100;
}

.App {
  width: 100%;
  min-height: 100vh;
}

